<h1>New Url</h1>

<form class="smart-form" id="new_url"  action="/users/<%=current_user.id%>/urls" accept-charset="UTF-8" method="post">

 <input  name="url[original_url]" id="url_original_url" type="text" class="form-control" placeholder="Original Url">
<div class="navbar-text"> 
<button style="height:45px; margin-top:15px;" type="submit" class="btn btn-primary navbar-btn btn-shadow btn-gradient" >
                         <span style="font-size:20px;">Save</span>
                        </button></div>
</form>

  
    
    